@use '../../Styles/globals' as globals;

h3{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

img{
  display: block;
  width: 10%;
  object-fit: cover;
 justify-self: center;
}

.formContainer {
 font-family: sans-serif;
  display: flex;
  justify-content: left;
  margin:203px;
  margin-top:0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 12px;
  border-radius: 12px;
   font-family: "Roboto", sans-serif;
  gap: 20px;
 
}

.button {
  padding: 6px 12px; 
  font-size: 0.9rem; 
  border: none;  
  border-radius: 6px;
  font-weight: bold;
  background-color: globals.$color_info;
  color: globals.$color_black;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.error {
  color:globals.$color_error;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.page {
    display: flex;
    height: 100vh;
}

.rightSide {
    flex: 1;
}

.rightSide img {
  display:flex;
    width: 100%;
    height: 100vh;

}
