@use '../../Styles/globals' as globals;

h1{
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  gap: 24;
}
.containerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logosvg {
  width: 185px;
}


.formContainer {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  align-items: center;
  gap: 24px;
}

.contactForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  gap: 24px;
}

.button {
  width: 340px;
  font-size: 16px;
  height: 34px;
  border: none;
  border-radius: 14px;
  font-weight: bold;
  background-color: globals.$color_info;
  color: globals.$color_black;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.error {
  color: globals.$color_error;
  font-size: 16px;
  margin-bottom: 10px;
}

.page {
  display: flex;
  width: 100%;
  height: 100vh;
}

.rightSide img {
  display: flex;
  justify-content: right;
  width: 500px;
  height:100%;
  object-fit: cover;
}
//mediaQueries
 @media (max-width: 600px) {
  h1{
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
 .page{
grid-template-columns: repeat(1);
 }
.rightSide img{
  display: none;
}}
 