@use'../../Styles/globals' as globals;

.inputStyle {
  font-size: 16px;
  width: 334px;
  input {
    width: 334px;
    height: 34px;
    padding-left: 12px;
    background-color: globals.$color_secondary_02;
    border: solid 1px globals.$color_black;
    border-radius: 14px;
    font-size: 16px;
 
    }
}