@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-neutral-01: #1f1f1f;
  --color-neutral-02: #5f6368;
  --color-field-bg: #e8f5e9;
  --color-form-border: #52c257;
  --color-btn-create: #6eb1ec;
  --color-btn-create-hover: #5aa0db;
}

body {
  font-family: var(--font-roboto);
}
